body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.thumbnail{
    position: relative;
    display: inline-block;
}

.thumbnail .F1Img{
    display: block;
    width: 100%;
    height: 100vh;
}

.F1ImgContent{
    position: absolute;
    top: 10%;
    left: 10%;
    font-weight: bold;
    padding-left: 7%;
}

.ShakeRounded1{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border:5px solid rgb(0,99,65);
}


.ShakeRounded2{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border:5px solid rgb(0,99,65);
}

.ShakeRounded3{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border:5px solid rgb(0,99,65);
}

.starbucksMain{
    font-size: 200px;
    font-weight: 600;
}

.SmileBucks{
    width: 100%;
    height: 100vh;
}

.RemGaga{
    width: 100%;
    height: 50vh;
}

.greenLine{
    border-top: 20px solid rgb(0,99,65);
}

/* F3 */
.GreenBucks{
    height: 110vh;
    width: 100%;
}

.CupwithLeafs{
    width: 100%;
    height: 53.3vh;
}

/* F4 */
.star{
    position: relative;
    display: inline-block;
}

.starImg{
    height: 100vh; 
    width: 100%;
    opacity: 60%;
}

.starContent{
    position: absolute;
    top: 10%;
    left: 20%;
    font-weight: bold;
}

.Caramel{
    height: 100vh;
    width: 100%;
}

/* F5 */

.F5ImgContent{
    position: absolute;
    top: 10%;
    left: 10%;
    font-weight: bold;
    padding: 5% 5% 5% 2%;
}

.BucksVariant{
    height:100%;
    width: 100%;
}

/* F6 */
.last{
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

/* Sidebar */
